{% extends 'base.html' %}

{% block title %}
    {% if view_name == 'update' %}
        Обновление версии
    {% else %}
        Создание версии
    {% endif %}
{% endblock %}

{% block content %}

  <!-- Sidebar -->
  {% include 'includes/sidebar.html' %}
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
          <!-- Topbar -->
          {% include 'includes/topbar.html' %}
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <div class="col-xl-3 col-md-6 mb-4">

            <h1>        {% if view_name == 'update' %}
                            Обновление версии
                        {% else %}
                            Создание версии
                        {% endif %}
              </h1>

            </div>

              {% include 'calc/includes/form.html' %}

          </div>
          <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      {% include 'includes/footer.html' %}
      <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

{% endblock %}