{% load user_filters %}

<div class="card h-md-100">
  <div class="card-header d-flex flex-between-center pb-0">
    <a href="{% url 'calc:element_detail' element.pk %}">
      <h3 class="text-primary mb-1">{{ element.title }}</h3>
    </a>
    {% include 'calc/includes/element/element_dropdown_actions.html' %}
  </div>
  <div class="card-body pt-2">
    <div class="row g-0 h-100 align-items-center">
      <div class="col">
        <p class="text-600 fs--1">элемент</p>
      </div>
      <div class="d-flex">
        {% if element.rods_calcs.count %}
          <span class="fas fa-cubes text-primary"></span>
        {% else %}
          <span class="fas fa-cubes text-secondary"></span>
        {% endif %}
        <p class="fs--1 ps-2 mb-0"><strong>{{ element.rods_calcs.count }}</strong> {{ element.rods_calcs.count|pluralize_ru:"расчет, расчета, расчетов" }} армирования</p>
      </div>
    </div>
  </div>
</div>
