{% extends 'base.html' %}

{% block title %}
    {% if view_name == 'update' %}
        Обновление расчета армирования {% rods_calc.title %}
    {% else %}
        Создание расчета армирования
    {% endif %}
{% endblock %}

{% block content %}
<div class="container" data-layout="container">
    <script>
      var isFluid = JSON.parse(localStorage.getItem('isFluid'));
      if (isFluid) {
        var container = document.querySelector('[data-layout]');
        container.classList.remove('container');
        container.classList.add('container-fluid');
      }
    </script>
    <div class="content">
      {% include 'includes/topbar.html' %}

      <div class="row g-lg-3 font-sans-serif">
        <div class="col-lg-8">
          <div class="card mb-3">
            <div class="bg-holder d-none d-lg-block bg-card" style="background-image:url(../../../assets/img/icons/spot-illustrations/corner-4.png);">
            </div>
            <!--/.bg-holder-->

            <div class="card-body z-index-1">
              <h3>Create A New Course</h3>
              <p class="mb-0">Enlighten the world with your knowledge. Use our Course Creator to design a well-structured course; set whatever price you feel worthy of, and publish at our platform. <br />or, <br class="d-lg-none" />Want to edit your existing course? Jump to <a href="../../../app/e-learning/course/course-grid.html">Your courses</a></p>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-header">
              <h5 class="mb-0">Course Information</h5>
            </div>
            <div class="card-body bg-light">
              <form class="row gx-2">
                <div class="col-12 mb-3">
                  <label class="form-label" for="course-name">Course Title<span class="text-danger">*</span></label>
                  <input class="form-control" id="course-name" type="text" placeholder="Course Title" required="required" />
                </div>
                <div class="col-sm-6 mb-3">
                  <label class="form-label" for="course-category">Category<span class="text-danger">*</span></label>
                  <select class="form-select" id="course-category" name="course-category">
                    <option>Select a category</option>
                    <option>Academia</option>
                    <option>Arts & Crafts</option>
                    <option>Design</option>
                    <option>Development</option>
                    <option>Finance</option>
                    <option>Marketing</option>
                    <option>Music</option>
                    <option>Lifestyle</option>
                    <option>Photography</option>
                    <option>Miscellaneous</option>
                  </select>
                </div>
                <div class="col-sm-6 mb-3">
                  <label class="form-label" for="course-subcategory">Sub-category<span class="text-danger">*</span></label>
                  <select class="form-select" id="course-subcategory" name="course-sub-category">
                    <option>Select a sub-category</option>
                    <option>3D & Animation</option>
                    <option>Architectural Design</option>
                    <option>Graphics Design</option>
                    <option>Game Design</option>
                    <option>Fashion Design</option>
                    <option>Illustration</option>
                    <option>User Interface Design</option>
                    <option>UX Design</option>
                    <option>Web Design</option>
                    <option>Others…</option>
                  </select>
                </div>
                <div class="col-12 mb-3">
                  <label class="form-label" for="course-tags">Tags<span class="text-danger">*</span></label>
                  <input class="form-control js-choice" id="course-tags" type="text" name="tags" required="required" size="1" data-placeholder="Select upto 4 tags" data-options='{"removeItemButton":true,"placeholder":true}' />
                </div>
                <div class="col-12">
                  <label class="form-label" for="course-description">Course Description<span class="text-danger">*</span></label>
                  <div class="create-course-description-textarea">
                    <textarea class="tinymce d-none" name="course-description" id="course-description" required="required"></textarea>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-header">
              <h5 class="mb-0">Create Resources</h5>
            </div>
            <div class="card-body p-0">
              <div class="table-responsive scrollbar">
                <table class="table table-borderless mb-0 fs--1 overflow-hidden">
                  <tbody>
                    <tr class="btn-reveal-trigger bg-light">
                      <td class="align-middle white-space-nowrap">
                        <div class="d-flex gap-3 align-items-center position-relative"><img class="rounded-1 border border-200" src="../../../assets/img/elearning/lessons/intro.png" width="60" alt="" />
                          <div>
                            <h5 class="fs-0 text-primary">Intro<span data-bs-toggle="tooltip" data-bs-placement="top" title="Requirement fulfilled"><span class="text-primary fs-0 ms-2 fas fa-check-circle"></span></span></h5>
                            <p class="fs--1 text-900 mb-0">Introduction and Course Objectives</p>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle white-space-nowrap fs--1 text-700">
                        <p class="mb-1">1 Slide • 4 Minutes</p>
                        <p class="mb-0">0 Tests</p>
                      </td>
                      <td class="align-middle white-space-nowrap text-end">
                        <div class="dropdown font-sans-serif position-static d-inline-block btn-reveal-trigger">
                          <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal dropdown-caret-none float-end" type="button" id="dropdown-0" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs--1"></span></button>
                          <div class="dropdown-menu dropdown-menu-end border py-2" aria-labelledby="dropdown-0"><a class="dropdown-item" href="#!">View</a><a class="dropdown-item" href="#!">Edit</a>
                            <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">Delete</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="btn-reveal-trigger">
                      <td class="align-middle white-space-nowrap">
                        <div class="d-flex gap-3 align-items-center position-relative"><img class="rounded-1 border border-200" src="../../../assets/img/elearning/lessons/chapter1.png" width="60" alt="" />
                          <div>
                            <h5 class="fs-0 text-primary">Chapter 1<span data-bs-toggle="tooltip" data-bs-placement="top" title="Requirement fulfilled"><span class="text-primary fs-0 ms-2 fas fa-check-circle"></span></span></h5>
                            <p class="fs--1 text-900 mb-0">Getting Started with Photoshop</p>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle white-space-nowrap fs--1 text-700">
                        <p class="mb-1">3 Slide • 11 Minutes</p>
                        <p class="mb-0">3 Tests</p>
                      </td>
                      <td class="align-middle white-space-nowrap text-end">
                        <div class="dropdown font-sans-serif position-static d-inline-block btn-reveal-trigger">
                          <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal dropdown-caret-none float-end" type="button" id="dropdown-1" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs--1"></span></button>
                          <div class="dropdown-menu dropdown-menu-end border py-2" aria-labelledby="dropdown-1"><a class="dropdown-item" href="#!">View</a><a class="dropdown-item" href="#!">Edit</a>
                            <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">Delete</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr class="btn-reveal-trigger bg-light">
                      <td class="align-middle white-space-nowrap">
                        <div class="d-flex gap-3 align-items-center position-relative"><img class="rounded-1 border border-200" src="../../../assets/img/elearning/lessons/chapter2.png" width="60" alt="" />
                          <div>
                            <h5 class="fs-0 text-primary">Chapter 2<span data-bs-toggle="tooltip" data-bs-placement="top" title="No. of Slide/Test doesn’t fulfill requirement"><span class="text-primary fs-0 ms-2 fas fa-exclamation-circle"></span></span></h5>
                            <p class="fs--1 text-900 mb-0">Understanding Layers</p>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle white-space-nowrap fs--1 text-700">
                        <p class="mb-1">1 Slide • 3 Minutes</p>
                        <p class="mb-0">0 Tests</p>
                      </td>
                      <td class="align-middle white-space-nowrap text-end">
                        <div class="dropdown font-sans-serif position-static d-inline-block btn-reveal-trigger">
                          <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal dropdown-caret-none float-end" type="button" id="dropdown-2" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs--1"></span></button>
                          <div class="dropdown-menu dropdown-menu-end border py-2" aria-labelledby="dropdown-2"><a class="dropdown-item" href="#!">View</a><a class="dropdown-item" href="#!">Edit</a>
                            <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">Delete</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer py-2 text-center"><a class="btn btn-link btn-sm px-0 fw-medium" href="#!"> <span class="fas fa-plus me-1 fs--2"></span>Add New Chaptar</a></div>
          </div>
          <div class="card mb-3">
            <div class="card-header bg-light">
              <h5 class="mb-0">Requirements</h5>
            </div>
            <div class="card-body pt-0">
              <ul class="list-unstyled mb-0">
                <li>
                  <div class="d-flex hover-actions-trigger align-items-center py-3"><span class="fas fa-grip-lines fs--2 text-secondary me-3"></span>
                    <p class="mb-0 fs--1 me-6">This course requires profieciency in English language as the Lessons are prepared in English.</p>
                    <div class="hover-actions end-0 top-50 translate-middle-y">
                      <button class="btn btn-link me-3 fs--2 p-0 text-700" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><span class="fas fa-pencil-alt"></span></button>
                      <button class="btn btn-light icon-item rounded-3 fs--2 icon-item-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove"><span class="fas fa-times"></span></button>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex hover-actions-trigger align-items-center py-3 border-top border-300"><span class="fas fa-grip-lines fs--2 text-secondary me-3"></span>
                    <p class="mb-0 fs--1 me-6">Learners with following skills might be more benefited, but little extra work is all that’ll take.</p>
                    <div class="hover-actions end-0 top-50 translate-middle-y">
                      <button class="btn btn-link me-3 fs--2 p-0 text-700" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><span class="fas fa-pencil-alt"></span></button>
                      <button class="btn btn-light icon-item rounded-3 fs--2 icon-item-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove"><span class="fas fa-times"></span></button>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="position-relative focus-actions-trigger">
                <input class="form-control" type="text" placeholder="Add another requirement..." />
                <div class="position-absolute end-0 top-50 translate-middle focus-actions">
                  <button class="btn btn-link btn-sm p-0 text-700 me-2"><span class="fas fa-arrow-right"></span></button>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 mb-lg-0">
            <div class="card-header bg-light">
              <h5 class="mb-0">Course Goals and Key features</h5>
            </div>
            <div class="card-body">
              <label class="mb-3 form-label lh-1" for="course-goal">Course Goals <span class="text-danger">*</span></label>
              <ul class="list-unstyled mb-0">
                <li>
                  <div class="d-flex py-3 hover-actions-trigger align-items-center border-top border-300"><span class="fas fa-grip-lines fs--2 text-secondary me-3"></span>
                    <p class="mb-0 fs--1 me-6">Which tool is preferred for what kind of work.</p>
                    <div class="hover-actions end-0 top-50 translate-middle-y">
                      <button class="btn btn-link me-3 fs--2 p-0 text-700" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><span class="fas fa-pencil-alt"></span></button>
                      <button class="btn btn-light icon-item rounded-3 fs--2 icon-item-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove"><span class="fas fa-times"></span></button>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex py-3 hover-actions-trigger align-items-center border-top border-300"><span class="fas fa-grip-lines fs--2 text-secondary me-3"></span>
                    <p class="mb-0 fs--1 me-6">How to take criticism and make best use of them.</p>
                    <div class="hover-actions end-0 top-50 translate-middle-y">
                      <button class="btn btn-link me-3 fs--2 p-0 text-700" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><span class="fas fa-pencil-alt"></span></button>
                      <button class="btn btn-light icon-item rounded-3 fs--2 icon-item-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove"><span class="fas fa-times"></span></button>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="position-relative mb-4 focus-actions-trigger">
                <input class="form-control" id="course-goal" type="text" placeholder="Add another goal..." />
                <div class="position-absolute end-0 top-50 translate-middle focus-actions">
                  <button class="btn btn-link btn-sm p-0 text-700 me-2"><span class="fas fa-arrow-right"></span></button>
                </div>
              </div>
              <div class="d-flex flex-between-center mb-2">
                <label class="mb-0 lh-1" for="course-features">Key features<span class="text-danger">*</span></label>
                <button class="btn btn-link btn-sm fw-medium p-0" type="button">Add New</button>
              </div>
              <select class="form-select js-choice" id="course-features" multiple="multiple" size="1" name="features" data-options='{"removeItemButton":true,"placeholder":true}'>
                <option value="">Select multiple features...</option>
                <option>Total 13 hours of video lectures</option>
                <option>12 premium article access</option>
                <option>11 downloadable resources</option>
                <option>Mobile, Tab or TV friendly content </option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="sticky-sidebar top-navbar-height d-flex flex-column">
            <div class="card mb-lg-3 order-lg-0 order-1">
              <div class="card-header py-2 d-flex flex-between-center">
                <h5 class="mb-0">Сохраните армирование элемента</h5><a class="btn btn-link btn-sm text-secondary px-0" href="#!"><span class="fw-medium d-lg-none d-xxl-inline-block">Preview</span><span class="fas fa-external-link-alt fs--2 ms-2"></span></a>
              </div>
              <div class="card-body bg-light">
                <ul class="list-unstyled fs--1 mb-0">
                  <li class="mb-2 hover-actions-trigger"><span class="fas fa-file me-2"></span><span class="ms-1">Condition: </span><span class="text-800 fw-medium me-2">Draft</span><a class="btn btn-link btn-sm p-0 lh-sm hover-actions" href="#!">Edit</a></li>
                  <li class="mb-2 hover-actions-trigger"><span class="fas fa-unlock-alt me-2"></span><span class="ms-1">Privacy: </span><span class="text-800 fw-medium me-2">Public</span><a class="btn btn-link btn-sm p-0 lh-sm hover-actions" href="#!">Edit</a></li>
                  <li class="mb-2 hover-actions-trigger"><span class="fas fa-globe me-2"></span><span class="ms-1">Visibility: </span><span class="text-800 fw-medium me-2">Global Search</span><a class="btn btn-link btn-sm p-0 lh-sm hover-actions" href="#!">Edit</a></li>
                  <li class="hover-actions-trigger"><span class="fas fa-clock me-2"></span><span class="ms-1">Publish: </span><span class="text-800 fw-medium me-2">Now</span><a class="btn btn-link btn-sm p-0 lh-sm hover-actions" href="#!">Edit</a></li>
                </ul>
              </div>
              <div class="card-footer py-2" id="course-publish-btn">
                <div class="row flex-between-center g-0">
                  <div class="col-auto"><a class="btn btn-link btn-sm text-secondary fw-medium px-0" href="#!">Save as Draft</a></div>
                  <div class="col-auto">
                    <button class="btn btn-primary btn-md px-xxl-5 px-4 fw-medium" type="submit">Publish</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card rounded-0 bottom-bar d-lg-none" data-bottom-bar='{"target":"course-publish-btn","breakPoint":"lg"}'>
        <div class="card-body py-2 px-0">
          <div class="container">
            <div class="row flex-between-center g-0">
              <div class="col-auto"><a class="btn btn-link btn-sm text-secondary fw-medium px-0" href="#!">Save as Draft</a></div>
              <div class="col-auto">
                <button class="btn btn-primary btn-md px-5 fw-medium" type="submit">Publish</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="row g-0 justify-content-between fs--1 mt-4 mb-3">
          <div class="col-12 col-sm-auto text-center">
            <p class="mb-0 text-600">Thank you for creating with Falcon <span class="d-none d-sm-inline-block">| </span><br class="d-sm-none" /> 2022 &copy; <a href="https://themewagon.com">Themewagon</a></p>
          </div>
          <div class="col-12 col-sm-auto text-center">
            <p class="mb-0 text-600">v3.14.0</p>
          </div>
        </div>
      </footer>
    </div>
    <div class="modal fade" id="authentication-modal" tabindex="-1" role="dialog" aria-labelledby="authentication-modal-label" aria-hidden="true">
      <div class="modal-dialog mt-6" role="document">
        <div class="modal-content border-0">
          <div class="modal-header px-5 position-relative modal-shape-header bg-shape">
            <div class="position-relative z-index-1 light">
              <h4 class="mb-0 text-white" id="authentication-modal-label">Register</h4>
              <p class="fs--1 mb-0 text-white">Please create your free Falcon account</p>
            </div>
            <button class="btn-close btn-close-white position-absolute top-0 end-0 mt-2 me-2" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body py-4 px-5">
            <form>
              <div class="mb-3">
                <label class="form-label" for="modal-auth-name">Name</label>
                <input class="form-control" type="text" autocomplete="on" id="modal-auth-name" />
              </div>
              <div class="mb-3">
                <label class="form-label" for="modal-auth-email">Email address</label>
                <input class="form-control" type="email" autocomplete="on" id="modal-auth-email" />
              </div>
              <div class="row gx-2">
                <div class="mb-3 col-sm-6">
                  <label class="form-label" for="modal-auth-password">Password</label>
                  <input class="form-control" type="password" autocomplete="on" id="modal-auth-password" />
                </div>
                <div class="mb-3 col-sm-6">
                  <label class="form-label" for="modal-auth-confirm-password">Confirm Password</label>
                  <input class="form-control" type="password" autocomplete="on" id="modal-auth-confirm-password" />
                </div>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="modal-auth-register-checkbox" />
                <label class="form-label" for="modal-auth-register-checkbox">I accept the <a href="#!">terms </a>and <a href="#!">privacy policy</a></label>
              </div>
              <div class="mb-3">
                <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">Register</button>
              </div>
            </form>
            <div class="position-relative mt-5">
              <hr />
              <div class="divider-content-center">or register with</div>
            </div>
            <div class="row g-2 mt-2">
              <div class="col-sm-6"><a class="btn btn-outline-google-plus btn-sm d-block w-100" href="#"><span class="fab fa-google-plus-g me-2" data-fa-transform="grow-8"></span> google</a></div>
              <div class="col-sm-6"><a class="btn btn-outline-facebook btn-sm d-block w-100" href="#"><span class="fab fa-facebook-square me-2" data-fa-transform="grow-8"></span> facebook</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="schedule-discount-modal" tabindex="-1" role="dialog" aria-labelledby="schedule-discount-modal-label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header d-flex align-items-center border-bottom px-4">
            <h4 class="mb-0" id="schedule-discount-modal-label">Schedule for Discount </h4>
          </div>
          <div class="modal-body p-4 bg-light">
            <form class="row gx-3">
              <div class="col-lg-6 mb-3">
                <label class="form-label" for="time-zone">Timezone
                </label>
                <select class="form-select" id="time-zone">
                  <option>GMT-12:00 Etc/GMT-12</option>
                  <option>GMT-11:00 Etc/GMT-11</option>
                  <option>GMT-11:00 Pacific/Midway</option>
                  <option>GMT-10:00 America/Adak</option>
                  <option>GMT-09:00 America/Anchorage</option>
                  <option>GMT-09:00 Pacific/Gambier</option>
                  <option>GMT-08:00 America/Dawson_Creek</option>
                  <option>GMT-08:00 America/Ensenada</option>
                  <option>GMT-08:00 America/Los_Angeles</option>
                  <option>GMT-07:00 America/Chihuahua</option>
                  <option>GMT-07:00 America/Denver</option>
                  <option>GMT-06:00 America/Belize</option>
                  <option>GMT-06:00 America/Cancun</option>
                  <option>GMT-06:00 America/Chicago</option>
                  <option>GMT-06:00 Chile/EasterIsland</option>
                  <option>GMT-05:00 America/Bogota</option>
                  <option>GMT-05:00 America/Havana</option>
                  <option>GMT-05:00 America/New_York</option>
                  <option>GMT-04:30 America/Caracas</option>
                  <option>GMT-04:00 America/Campo_Grande</option>
                  <option>GMT-04:00 America/Glace_Bay</option>
                  <option>GMT-04:00 America/Goose_Bay</option>
                  <option>GMT-04:00 America/Santiago</option>
                  <option>GMT-04:00 America/La_Paz</option>
                  <option>GMT-03:00 America/Argentina/Buenos_Aires</option>
                  <option>GMT-03:00 America/Montevideo</option>
                  <option>GMT-03:00 America/Araguaina</option>
                  <option>GMT-03:00 America/Godthab</option>
                  <option>GMT-03:00 America/Miquelon</option>
                  <option>GMT-03:00 America/Sao_Paulo</option>
                  <option>GMT-03:30 America/St_Johns</option>
                  <option>GMT-02:00 America/Noronha</option>
                  <option>GMT-01:00 Atlantic/Cape_Verde</option>
                  <option>GMT Europe/Belfast</option>
                  <option>GMT Africa/Abidjan</option>
                  <option>GMT Europe/Dublin</option>
                  <option>GMT Europe/Lisbon</option>
                  <option>GMT Europe/London</option>
                  <option>UTC UTC</option>
                  <option>GMT+01:00 Africa/Algiers</option>
                  <option>GMT+01:00 Africa/Windhoek</option>
                  <option>GMT+01:00 Atlantic/Azores</option>
                  <option>GMT+01:00 Atlantic/Stanley</option>
                  <option>GMT+01:00 Europe/Amsterdam</option>
                  <option>GMT+01:00 Europe/Belgrade</option>
                  <option>GMT+01:00 Europe/Brussels</option>
                  <option>GMT+02:00 Africa/Cairo</option>
                  <option>GMT+02:00 Africa/Blantyre</option>
                  <option>GMT+02:00 Asia/Beirut</option>
                  <option>GMT+02:00 Asia/Damascus</option>
                  <option>GMT+02:00 Asia/Gaza</option>
                  <option>GMT+02:00 Asia/Jerusalem</option>
                  <option>GMT+03:00 Africa/Addis_Ababa</option>
                  <option>GMT+03:00 Asia/Riyadh89</option>
                  <option>GMT+03:00 Europe/Minsk</option>
                  <option>GMT+03:30 Asia/Tehran</option>
                  <option>GMT+04:00 Asia/Dubai</option>
                  <option>GMT+04:00 Asia/Yerevan</option>
                  <option>GMT+04:00 Europe/Moscow</option>
                  <option>GMT+04:30 Asia/Kabul</option>
                  <option>GMT+05:00 Asia/Tashkent</option>
                  <option>GMT+05:30 Asia/Kolkata</option>
                  <option>GMT+05:45 Asia/Katmandu</option>
                  <option>GMT+06:00 Asia/Dhaka</option>
                  <option>GMT+06:00 Asia/Yekaterinburg</option>
                  <option>GMT+06:30 Asia/Rangoon</option>
                  <option>GMT+07:00 Asia/Bangkok</option>
                  <option>GMT+07:00 Asia/Novosibirsk</option>
                  <option>GMT+08:00 Etc/GMT+8</option>
                  <option>GMT+08:00 Asia/Hong_Kong</option>
                  <option>GMT+08:00 Asia/Krasnoyarsk</option>
                  <option>GMT+08:00 Australia/Perth</option>
                  <option>GMT+08:45 Australia/Eucla</option>
                  <option>GMT+09:00 Asia/Irkutsk</option>
                  <option>GMT+09:00 Asia/Seoul</option>
                  <option>GMT+09:00 Asia/Tokyo</option>
                  <option>GMT+09:30 Australia/Adelaide</option>
                  <option>GMT+09:30 Australia/Darwin</option>
                  <option>GMT+09:30 Pacific/Marquesas</option>
                  <option>GMT+10:00 Etc/GMT+10</option>
                  <option>GMT+10:00 Australia/Brisbane</option>
                  <option>GMT+10:00 Australia/Hobart</option>
                  <option>GMT+10:00 Asia/Yakutsk</option>
                  <option>GMT+10:30 Australia/Lord_Howe</option>
                  <option>GMT+11:00 Asia/Vladivostok</option>
                  <option>GMT+11:30 Pacific/Norfolk</option>
                  <option>GMT+12:00 Etc/GMT+12</option>
                  <option>GMT+12:00 Asia/Anadyr</option>
                  <option>GMT+12:00 Asia/Magadan</option>
                  <option>GMT+12:00 Pacific/Auckland</option>
                  <option>GMT+12:45 Pacific/Chatham</option>
                  <option>GMT+13:00 Pacific/Tongatapu</option>
                  <option>GMT+14:00 Pacific/Kiritimati</option>
                </select>
              </div>
              <div class="col-lg-6"></div>
              <div class="col-lg-6 mb-3">
                <label class="form-label" for="start-date">Start Date</label>
                <input class="form-control datetimepicker" id="start-date" type="text" placeholder="dd/mm/yyyy" data-options='{"dateFormat":"d/m/y","disableMobile":true}' />
              </div>
              <div class="col-lg-6 mb-3">
                <label class="form-label" for="start-time">Start Time</label>
                <input class="form-control datetimepicker" id="start-time" type="text" placeholder="23 : 45" data-options='{"enableTime":true,"noCalendar":true,"dateFormat":"H:i","disableMobile":true}' />
              </div>
              <div class="col-lg-6 mb-3">
                <label class="form-label" for="end-date">End Date</label>
                <input class="form-control datetimepicker" id="end-date" type="text" placeholder="dd/mm/yyyy" data-options='{"dateFormat":"d/m/y","disableMobile":true}' />
              </div>
              <div class="col-lg-6 mb-3">
                <label class="form-label" for="end-time">End Time</label>
                <input class="form-control datetimepicker" id="end-time" type="text" placeholder="23 : 45" data-options='{"enableTime":true,"noCalendar":true,"dateFormat":"H:i","disableMobile":true}' />
              </div>
            </form>
          </div>
          <div class="modal-footer border-top text-start py-2 px-4 d-flex justify-content-end">
            <button class="btn btn-outline-secondary btn-md" data-bs-dismiss="modal"> <span class="fas fa-times me-1 fs--1"></span>Cancel</button>
            <button class="btn btn-primary btn-md ms-2" type="submit"> <span class="fas fa-check me-1 fs--1"></span>Confirm</button>
          </div>
        </div>
      </div>
    </div>
  </div>















  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
          <!-- Topbar -->
          {% include 'includes/topbar.html' %}
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">

              <form enctype="multipart/form-data" class="" method="post" id="product_form">
    {% csrf_token %}
    <!-- element form start -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h1 class="m-0 font-weight-bold text-primary">Армирование</h1>
        </div>
        {% for field in form %}
            <div class="form-group card-body border-0">
                <label>{{field.label}}</label>
                {% if field.field.required %}
                    <span style="color: red;" class="required">*</span>
                {% endif %}

                {{field}}
                {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <!-- element form end  -->

    <!-- inline form for Rod start -->
    {% with named_formsets.rods as formset %}
        {{ formset.management_form }}
        <script type="text/html" id="rods-template">  // id="inlineformsetname-template"
            // id='inlineformsetname-__prefix__'
            <tr id="rods-__prefix__" class= hide_all>
                {% for fields in formset.empty_form.hidden_fields %}
                    {{ fields }}
                {% endfor %}

                {% for fields in formset.empty_form.visible_fields %}
                    <td>{{fields}}</td>
                {% endfor %}
            </tr>
        </script>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold text-primary">Стержни</h4>
            </div>
            <table class="table card-header">
                <thead class="text-secondary">
                    <th>Название позиции<span style="color: red;" class="required">*</span></th>
                    <th>Диаметр, мм <span style="color: red;" class="required">*</span></th>
                    <th>Класс арматуры<span style="color: red;" class="required">*</span></th>
                    <th>Длина 1 уч., мм <span style="color: red;" class="required">*</span></th>
                    <th>Кол-во 1 уч., шт <span style="color: red;" class="required">*</span></th>
                    <th>Длина 2 уч., мм </th>
                    <th>Кол-во 2 уч., шт </th>
                    <th>Длина 3 уч., мм </th>
                    <th>Кол-во 3 уч., шт </th>
                    <th>Длина 4 уч., мм </th>
                    <th>Кол-во 4 уч., шт </th>
                    <th>Кол-во стержней, шт <span style="color: red;" class="required">*</span></th>
                </thead>
                <tbody id="item-rods">
                    <!-- formset non forms errors -->
                    {% for error in formset.non_form_errors %}
                        <span style="color: red">{{ error }}</span>
                    {% endfor %}
                    {% for formss in formset %}
                        {{ formss.management_form }}
                        <tr id="rods-{{ forloop.counter0 }}" class= hide_all>  <!-- id="inlineformsetname-counter" -->
                            {{ formss.id }}
                            {% for field in formss.visible_fields %}
                                <td>
                                    {{field}}
                                    {% for error in field.errors %}
                                        <span style="color: red">{{ error }}</span>
                                    {% endfor %}

                                    {% comment %} {{ field.DELETE }} {% endcomment %}
                                </td>
                            {% endfor %}
                            {% comment %} for delete {% endcomment %}
                            {% if formss.instance.pk %}
                                <td>

                                    <div class="col-auto">
                                        <a href="{% url 'calc:rod_duplicate' formss.instance.pk %}"
                                           class="btn btn-warning btn-circle"
                                           title="Дублировать стержень"
                                        >
                                            <i class="fas fa-copy fa-1x text-gray-100"></i>
                                        </a>
                                    </div>
                                </td>

                                <td>
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-danger btn-circle ml-4" data-toggle="modal" data-target="#exampleModal{{ formss.instance.pk }}" title="Удалить стержень">
                                            <i class="fas fa-trash"></i>
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal{{formss.instance.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{formss.instance.pk}}" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel{{formss.instance.pk}}">Вы уверены, что хотите удалить этот элемент?</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a href="{% url 'calc:rod_delete' formss.instance.pk %}" type="button" class="btn btn-primary">Да, удалить</a>
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="#" id="add-rod-button" class="btn btn-secondary add-rods">Добавить стержень</a>
        </div>

    {% endwith %}
    <!-- inline form for Rod end -->

    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Сохранить армирование</button>
    </div>

    </form>

              <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

              <script>
                      $(document).ready(function() {
                        // when user clicks add more btn of rods
                          $('.add-rods').click(function(ev) {
                              ev.preventDefault();
                              var count = $('#item-rods').children().length;
                              var tmplMarkup = $('#rods-template').html();
                              var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
                              $('#item-rods').append(compiledTmpl);

                              // update form count
                              $('#id_rods-TOTAL_FORMS').attr('value', count+1);
                          });
                      });
                    </script>

          </div>
          <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      {% include 'includes/footer.html' %}
      <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

{% endblock %}