{% extends 'base.html' %}

{% block title %}
    {% if view_name == 'update' %}
        Обновление расчета армирования "{{ rods_calc.title }}"
    {% else %}
        Создание расчета армирования
    {% endif %}
{% endblock %}

{% block content %}
  <div class="container" data-layout="container">
    <div class="content">
      {% include 'includes/topbar.html' %}
      <form enctype="multipart/form-data" class="" method="post" id="product_form">
        {% csrf_token %}
        <div class="row g-lg-3 font-sans-serif">
        <div class="col-lg-9">
          <div class="card mb-3">
            <div class="bg-holder d-none d-lg-block bg-card" style="background-image:url(../../../assets/img/icons/spot-illustrations/corner-4.png);">
            </div>
            <!--/.bg-holder-->

            <div class="card-body z-index-1">
              <h3>
                {% if view_name == 'update' %}
                    {{ rods_calc.title }}
                {% else %}
                    Создание расчета армирования
                {% endif %}
              </h3>
              <p class="mb-0">
                На этой странице вы можете создать и настроить стержни армирования.
              </p>
              <p class="mb-0">
                Нажмите "Добавить стержень", заполните поля и нажмите "Сохранить изменения".
              </p>  
              <p class="mb-0">
                Перед использованием операций над стержнями (дублирование, удаление)
              </p>
              <p class="mb-0">
                необходимо сохранить изменения, иначе введенные данные будут утеряны.
              </p>
              <p class="mb-0">
                Чтобы увидеть итоговую спецификацию и ведомость, нажмите "Посмотреть результат".
              </p>  
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-header">
              <h5 class="mb-0">Информация о расчете</h5>
            </div>
            <div class="card-body bg-light">
              {% for field in form %}
                <div class="col-12 mb-3">
                  <label class="form-label">
                    {{ field.label }}
                    {% if field.field.required %}
                      <span class="text-danger">*</span>
                    {% endif %}
                  </label>
                  {{ field }}
                  {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                  {% endif %}
                  {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                  {% endfor %}
                </div>
              {% endfor %}
            </div>
          </div>

          {% with named_formsets.rods as formset %}
            {{ formset.management_form }}
            <script type="text/html" id="rods-template">
            <div id="rods-__prefix__" class="card border h-100 border-secondary mb-3 bg-light hide_all">

                {% for field in formset.empty_form.hidden_fields %}
                    {{ field }}
                {% endfor %}

                    <div class="card-header">

                      <div class="row">

                      <div class="col-6">
                        <div class="form-floating">
                          {{ formset.empty_form.visible_fields.0 }}
                          <label for="{{ formset.empty_form.visible_fields.0.id_for_label }}">
                            {{ formset.empty_form.visible_fields.0.label }}
                          </label>
                        </div>
                        {% for error in formset.empty_form.visible_fields.0.errors %}
                          <span style="color: red">{{ error }}</span>
                        {% endfor %}
                      </div>

                      <div class="col-2">
                        <div class="form-floating">
                          {{ formset.empty_form.visible_fields.1 }}
                          <label for="{{ formset.empty_form.visible_fields.1.id_for_label }}">
                            {{ formset.empty_form.visible_fields.1.label }}
                          </label>
                        </div>
                        {% for error in formset.empty_form.visible_fields.1.errors %}
                          <span style="color: red">{{ error }}</span>
                        {% endfor %}
                      </div>

                      <div class="col-2">
                        <div class="form-floating">
                          {{ formset.empty_form.visible_fields.2 }}
                          <label for="{{ formset.empty_form.visible_fields.1.id_for_label }}">
                            {{ formset.empty_form.visible_fields.2.label }}
                          </label>
                        </div>
                        {% for error in formset.empty_form.visible_fields.2.errors %}
                          <span style="color: red">{{ error }}</span>
                        {% endfor %}
                      </div>
                      </div>

                    </div>

                    <div class="card-body">
                      <div class="row">
                      <div class="col-6">
                        <div class="col-12 mb-3">
                          <h6>Длина стержня</h6>
                        </div>
                      <div class="row">
                      <div class="col-6 mb-3">
                        <div class="form-floating mb-3">
                          {{ formset.empty_form.visible_fields.3 }}
                          <label for="{{ formset.empty_form.visible_fields.1.id_for_label }}">
                            {{ formset.empty_form.visible_fields.3.label }}
                          </label>
                        </div>
                        {% for error in formset.empty_form.visible_fields.3.errors %}
                          <span style="color: red">{{ error }}</span>
                        {% endfor %}
                      </div>
                      <div class="col-6 mb-3">
                        <div class="form-floating mb-3">
                          {{ formset.empty_form.visible_fields.4 }}
                          <label for="{{ formset.empty_form.visible_fields.1.id_for_label }}">
                            {{ formset.empty_form.visible_fields.4.label }}
                          </label>
                        </div>
                        {% for error in formset.empty_form.visible_fields.4.errors %}
                          <span style="color: red">{{ error }}</span>
                        {% endfor %}
                      </div>
                      </div>
                      <div class="row">
                      <div class="col-6 mb-3">
                        <div class="form-floating mb-3">
                          {{ formset.empty_form.visible_fields.5 }}
                          <label for="{{ formset.empty_form.visible_fields.1.id_for_label }}">
                            {{ formset.empty_form.visible_fields.5.label }}
                          </label>
                        </div>
                        {% for error in formset.empty_form.visible_fields.5.errors %}
                          <span style="color: red">{{ error }}</span>
                        {% endfor %}
                      </div>
                      <div class="col-6 mb-3">
                        <div class="form-floating mb-3">
                          {{ formset.empty_form.visible_fields.6 }}
                          <label for="{{ formset.empty_form.visible_fields.1.id_for_label }}">
                            {{ formset.empty_form.visible_fields.6.label }}
                          </label>
                        </div>
                        {% for error in formset.empty_form.visible_fields.6.errors %}
                          <span style="color: red">{{ error }}</span>
                        {% endfor %}
                      </div>
                      </div>
                      <div class="row">
                      <div class="col-6 mb-3">
                        <div class="form-floating mb-3">
                          {{ formset.empty_form.visible_fields.7 }}
                          <label for="{{ formset.empty_form.visible_fields.1.id_for_label }}">
                            {{ formset.empty_form.visible_fields.7.label }}
                          </label>
                        </div>
                        {% for error in formset.empty_form.visible_fields.7.errors %}
                          <span style="color: red">{{ error }}</span>
                        {% endfor %}
                      </div>
                      <div class="col-6 mb-3">
                        <div class="form-floating mb-3">
                          {{ formset.empty_form.visible_fields.8 }}
                          <label for="{{ formset.empty_form.visible_fields.1.id_for_label }}">
                            {{ formset.empty_form.visible_fields.8.label }}
                          </label>
                        </div>
                        {% for error in formset.empty_form.visible_fields.8.errors %}
                          <span style="color: red">{{ error }}</span>
                        {% endfor %}
                      </div>
                      </div>
                      </div>

                      <div class="col-6">
                        <div class="col-12 mb-3">
                          <h6>Количество стержней</h6>
                        </div>
                      <div class="col-6 mb-3">
                        <div class="form-floating mb-3">
                          {{ formset.empty_form.visible_fields.9 }}
                          <label for="{{ formset.empty_form.visible_fields.1.id_for_label }}">
                            {{ formset.empty_form.visible_fields.9.label }}
                          </label>
                        </div>
                        {% for error in formset.empty_form.visible_fields.9.errors %}
                          <span style="color: red">{{ error }}</span>
                        {% endfor %}
                      </div>
                      </div>
                      </div>
                    </div>
                  </div>
            </script>
            <div class="card col-lg-12 mb-3">
            <div class="card-header">
              <h5 class="mb-0">Арматурные стержни</h5>
            </div>
            <div class="card-body">
              <div class="accordion" id="item-rods">
                {% for error in formset.non_form_errors %}
                  <span style="color: red">{{ error }}</span>
                {% endfor %}
                {% for formss in formset %}
                  {{ formss.management_form }}
                  <div id="rods-{{ forloop.counter0 }}" class="accordion-item card mb-3">

                    <div class="accordion-header" id="heading{{ forloop.counter0 }}">
                      <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter0 }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter0 }}">
                        <b>{{ formss.instance.title }}</b>
                      </button>
                      <div class="mx-3 my-3">
                        <div class="row">
                          <div class="col-2">
                              ⌀{{ formss.instance.diameter }} <br> <small>мм</small>
                          </div>
                          <div class="col-2">
                              {{ formss.instance.rod_class }} <br> <small>класс</small>
                          </div>
                          <div class="col-2">
                            {{ formss.instance.length|floatformat:0 }} <br> <small>мм</small>
                          </div>
                          <div class="col-2">
                              {{ formss.instance.quantity }} <br> <small>шт</small>
                          </div>
                          <div class="col-2">
                              {{ formss.instance.mass_of_single_rod|floatformat:2 }} <br> <small>кг/шт</small>
                          </div>
                          <div class="col-2">
                              {{ formss.instance.mass_of_rods|floatformat:2 }} <br> <small>кг</small>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-collapse collapse border" id="collapse{{ forloop.counter0 }}" aria-labelledby="heading{{ forloop.counter0 }}" data-bs-parent="#accordionExample" style="">
                      <div class="accordion-body">

                        <div class="card-header">
                      {{ formss.id }}
                      <div class="row">
                        <div class="col-6">
                          <div class="form-floating">
                            {{ formss.visible_fields.0 }}
                            <label for="{{ formss.visible_fields.0.id_for_label }}">
                              {{ formss.visible_fields.0.label }}
                            </label>
                          </div>
                          {% for error in formss.visible_fields.0.errors %}
                            <span style="color: red">{{ error }}</span>
                          {% endfor %}
                        </div>
                        <div class="col-2">
                          <div class="form-floating">
                            {{ formss.visible_fields.1 }}
                            <label for="{{ formss.visible_fields.1.id_for_label }}">
                              {{ formss.visible_fields.1.label }}
                            </label>
                          </div>
                          {% for error in formss.visible_fields.1.errors %}
                            <span style="color: red">{{ error }}</span>
                          {% endfor %}
                        </div>
                        <div class="col-2">
                          <div class="form-floating">
                            {{ formss.visible_fields.2 }}
                            <label for="{{ formss.visible_fields.1.id_for_label }}">
                              {{ formss.visible_fields.2.label }}
                            </label>
                          </div>
                          {% for error in formss.visible_fields.2.errors %}
                            <span style="color: red">{{ error }}</span>
                          {% endfor %}
                        </div>
                        <div class="col-2">
                          {% if formss.instance.pk %}
                            <div class="dropdown font-sans-serif d-inline-block btn-reveal-trigger float-end">
                              <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal dropdown-caret-none" type="button" id="dropdown-0" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                                <svg class="svg-inline--fa fa-ellipsis-h fa-w-16 fs--1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ellipsis-h" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                  <path fill="currentColor" d="M328 256c0 39.8-32.2 72-72 72s-72-32.2-72-72 32.2-72 72-72 72 32.2 72 72zm104-72c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72zm-352 0c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72z"></path>
                                </svg><!-- <span class="fas fa-ellipsis-h fs--1"></span> Font Awesome fontawesome.com -->
                              </button>
                              <div class="dropdown-menu dropdown-menu-end border py-2" aria-labelledby="dropdown-0" style="">
                                <a class="dropdown-item" href="{% url 'calc:rod_duplicate' formss.instance.pk %}">Дублировать</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="{% url 'calc:rod_delete' formss.instance.pk %}">Удалить</a>
                              </div>
                            </div>
                          {% endif %}
                        </div>
                      </div>
                    </div>

                        <div class="card-body">
                      <div class="row">
                        <div class="col-6">
                          <div class="row">
                            <div class="col-12 mb-3">
                              <div class="d-flex align-items-center">
                                <a class="nav-link pe-0 ps-2" id="navbarDropdownLength-{{ forloop.counter0 }}" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <h6>Длина стержня <i class="fas fa-question-circle"></i></h6>
                                </a>

                                <div class="dropdown-menu dropdown-caret dropdown-caret dropdown-menu-end py-0" aria-labelledby="navbarDropdownLength-{{ forloop.counter0 }}">
                                  <div class="bg-white dark__bg-1000 rounded-2 py-2">
                                    <a class="dropdown-item" href="">Здесь будет подсказка</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-6 mb-3">
                            <div class="form-floating mb-3">
                              {{ formss.visible_fields.3 }}
                              <label for="{{ formss.visible_fields.1.id_for_label }}">
                                {{ formss.visible_fields.3.label }}
                              </label>
                            </div>
                            {% for error in formss.visible_fields.3.errors %}
                              <span style="color: red">{{ error }}</span>
                            {% endfor %}
                            </div>
                            <div class="col-6 mb-3">
                              <div class="form-floating mb-3">
                                {{ formss.visible_fields.4 }}
                                <label for="{{ formss.visible_fields.1.id_for_label }}">
                                  {{ formss.visible_fields.4.label }}
                                </label>
                              </div>
                              {% for error in formss.visible_fields.4.errors %}
                                <span style="color: red">{{ error }}</span>
                              {% endfor %}
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-6 mb-3">
                            <div class="form-floating mb-3">
                              {{ formss.visible_fields.5 }}
                              <label for="{{ formss.visible_fields.1.id_for_label }}">
                                {{ formss.visible_fields.5.label }}
                              </label>
                            </div>
                            {% for error in formss.visible_fields.5.errors %}
                              <span style="color: red">{{ error }}</span>
                            {% endfor %}
                          </div>
                            <div class="col-6 mb-3">
                            <div class="form-floating mb-3">
                              {{ formss.visible_fields.6 }}
                              <label for="{{ formss.visible_fields.1.id_for_label }}">
                                {{ formss.visible_fields.6.label }}
                              </label>
                            </div>
                            {% for error in formss.visible_fields.6.errors %}
                              <span style="color: red">{{ error }}</span>
                            {% endfor %}
                          </div>
                          </div>
                          <div class="row">
                            <div class="col-6 mb-3">
                            <div class="form-floating mb-3">
                              {{ formss.visible_fields.7 }}
                              <label for="{{ formss.visible_fields.1.id_for_label }}">
                                {{ formss.visible_fields.7.label }}
                              </label>
                            </div>
                            {% for error in formss.visible_fields.7.errors %}
                              <span style="color: red">{{ error }}</span>
                            {% endfor %}
                          </div>
                            <div class="col-6 mb-3">
                            <div class="form-floating mb-3">
                              {{ formss.visible_fields.8 }}
                              <label for="{{ formss.visible_fields.1.id_for_label }}">
                                {{ formss.visible_fields.8.label }}
                              </label>
                            </div>
                            {% for error in formss.visible_fields.8.errors %}
                              <span style="color: red">{{ error }}</span>
                            {% endfor %}
                          </div>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="row">
                            <div class="col-12 mb-3">
                              <div class="d-flex align-items-center">
                                <a class="nav-link pe-0 ps-2" id="navbarDropdownQuantity-{{ forloop.counter0 }}" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <h6>Количество стержней <i class="fas fa-question-circle"></i></h6>
                                </a>
                                <div class="dropdown-menu dropdown-caret dropdown-caret dropdown-menu-end py-0" aria-labelledby="navbarDropdownQuantity-{{ forloop.counter0 }}">
                                  <div class="bg-white dark__bg-1000 rounded-2 py-2">
                                    <a class="dropdown-item" href="">Здесь будет подсказка</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-6 mb-3">
                              <div class="form-floating mb-3">
                              {{ formss.visible_fields.9 }}
                              <label for="{{ formss.visible_fields.9.id_for_label }}">
                                {{ formss.visible_fields.9.label }}
                              </label>
                            </div>
                            {% for error in formss.visible_fields.9.errors %}
                              <span style="color: red">{{ error }}</span>
                            {% endfor %}
                          </div>
                          </div>
                          <div class="row">
                            <div class="col-6 mb-3">
                            <div class="form-floating mb-3">
                              {{ formss.visible_fields.10 }}
                              <label for="{{ formss.visible_fields.10.id_for_label }}">
                                {{ formss.visible_fields.10.label }}
                              </label>
                            </div>
                            {% for error in formss.visible_fields.10.errors %}
                              <span style="color: red">{{ error }}</span>
                            {% endfor %}
                          </div>
                          </div>
                          <div class="row">
                          <div class="col-6 mb-3">
                            <div class="form-floating mb-3">
                              {{ formss.visible_fields.11 }}
                              <label for="{{ formss.visible_fields.11.id_for_label }}">
                                {{ formss.visible_fields.11.label }}
                              </label>
                            </div>
                            {% for error in formss.visible_fields.11.errors %}
                              <span style="color: red">{{ error }}</span>
                            {% endfor %}
                          </div>
                        </div>
                        </div>
                      </div>
                    </div>

                      </div>
                    </div>

                  </div>
                {% endfor %}
              </div>
            </div>
            <div class="card-footer py-2 text-center"><a class="btn btn-link btn-sm px-0 fw-medium add-rods" href="#" id="add-rod-button"> <span class="fas fa-plus me-1 fs--2"></span>Добавить стержень</a></div>
          </div>
          {% endwith %}
        </div>


        <div class="col-lg-3">
          <div class="sticky-sidebar top-navbar-height d-flex flex-column">
            <div class="card mb-3 order-lg-0 order-1">
              <div class="card-header py-2 d-flex flex-between-center">
                <h5 class="mb-0">Расчет армирования элемента</h5>
              </div>
              <div class="card-body bg-light">
                <ul class="list-unstyled fs--1 mb-0">
                  <li class="mb-2 hover-actions-trigger">
                    <span class="ms-1">Объект: </span>
                    <a class="link-primary" href="{% url 'calc:site_detail' element.folder.version.construction.site.pk %}">
                      <span class="fw-medium me-2">{{ element.folder.version.construction.site.title }}</span>
                    </a>
                  </li>
                  <li class="mb-2 hover-actions-trigger">
                    <span class="ms-1">Сооружение: </span>
                    <a class="link-primary" href="{% url 'calc:construction_detail' element.folder.version.construction.pk %}">
                      <span class="fw-medium me-2">{{ element.folder.version.construction.title }}</span>
                    </a>
                  </li>
                  <li class="mb-2 hover-actions-trigger">
                    <span class="ms-1">Стадия: </span>
                    <a class="link-primary" href="{% url 'calc:version_detail' element.folder.version.pk %}">
                      <span class="fw-medium me-2">{{ element.folder.version.title }}</span>
                    </a>
                  </li>
                  <li class="mb-2 hover-actions-trigger">
                    <span class="ms-1">Папка: </span>
                    <a class="link-primary" href="{% url 'calc:folder_detail' element.folder.pk %}">
                      <span class="fw-medium me-2">{{ element.folder.title }}</span>
                    </a>
                  </li>
                  <li class="mb-2 hover-actions-trigger">
                    <span class="ms-1">Элемент: </span>
                    <a class="link-primary" href="{% url 'calc:element_detail' element.pk %}">
                      <span class="fw-medium me-2">{{ element.title }}</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="card-footer py-2" id="course-publish-btn">
                <div class="row flex-between-center g-0">

                  <div class="col-auto">
                    <button class="btn btn-primary me-1 mb-1" type="submit">
                      <span class="fas fa-sync-alt me-1" data-fa-transform="shrink-3"></span>Сохранить изменения
                    </button>
                  </div>
                  <div class="col-auto">
                    {% if rods_calc.pk %}
                      <a class="btn btn-link btn-sm text-primary fw-medium px-0" href="{% url 'calc:rods_calc_result' rods_calc.pk %}">
                        <span class="far fa-list-alt me-1" data-fa-transform="shrink-3"></span>Посмотреть результат
                      </a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      </form>

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script>
        $(document).ready(function() {
          // when user clicks add more btn of rods
            $('.add-rods').click(function(ev) {
              ev.preventDefault();
              var count = $('#item-rods').children().length;
              var tmplMarkup = $('#rods-template').html();
              var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
              $('#item-rods').append(compiledTmpl);

              // update form count
              $('#id_rods-TOTAL_FORMS').attr('value', count+1);
            });
        });
      </script>

      {% include 'includes/footer.html' %}
    </div>
  </div>
{% endblock %}
