<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="yandex-verification" content="4890244de7b25390" />
    <meta name="description" content="Калькулятор веса арматурных каркасов любой сложности. Храните расчеты в облаке, дублируйте и редактируйте. Получите спецификацию и сводную ведомость расхода стали по классам и диаметрам арматуры.">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>{% block title %}{% endblock %}</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    {% load static %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicons/favicon-16x16.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicons/favicon.ico' %}">
    <link rel="manifest" href="{% static 'assets/img/favicons/manifest.json' %}">
    <meta name="msapplication-TileImage" content="{% static 'assets/img/favicons/mstile-150x150.png' %}">
    <meta name="theme-color" content="#ffffff">
    <script src="{% static 'assets/js/config.js' %}"></script>
    <script src="{% static 'vendors/simplebar/simplebar.min.js' %}"></script>


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="{% static 'vendors/leaflet/leaflet.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/leaflet.markercluster/MarkerCluster.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/leaflet.markercluster/MarkerCluster.Default.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/fullcalendar/main.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/flatpickr/flatpickr.min.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <link href="{% static 'vendors/simplebar/simplebar.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/theme-rtl.min.css' %}" rel="stylesheet" id="style-rtl">
    <link href="{% static 'assets/css/theme.min.css' %}" rel="stylesheet" id="style-default">
    <link href="{% static 'assets/css/user-rtl.min.css' %}" rel="stylesheet" id="user-style-rtl">
    <link href="{% static 'assets/css/user.min.css' %}" rel="stylesheet" id="user-style-default">
    <script>
      var isRTL = JSON.parse(localStorage.getItem('isRTL'));
      if (isRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }
    </script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();
       for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
       k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(94824809, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/94824809" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      {% block content %}{% endblock %}
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->


    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="{% static 'vendors/popper/popper.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/anchorjs/anchor.min.js' %}"></script>
    <script src="{% static 'vendors/is/is.min.js' %}"></script>
    <script src="{% static 'vendors/chart/chart.min.js' %}"></script>
    <script src="{% static 'vendors/leaflet/leaflet.js' %}"></script>
    <script src="{% static 'vendors/leaflet.markercluster/leaflet.markercluster.js' %}"></script>
    <script src="{% static 'vendors/leaflet.tilelayer.colorfilter/leaflet-tilelayer-colorfilter.min.js' %}"></script>
    <script src="{% static 'vendors/countup/countUp.umd.js' %}"></script>
    <script src="{% static 'vendors/echarts/echarts.min.js' %}"></script>
    <script src="{% static 'vendors/fullcalendar/main.min.js' %}"></script>
    <script src="{% static 'assets/js/flatpickr.js' %}"></script>
    <script src="{% static 'vendors/dayjs/dayjs.min.js' %}"></script>
    <script src="{% static 'vendors/fontawesome/all.min.js' %}"></script>
    <script src="{% static 'vendors/lodash/lodash.min.js' %}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="{% static 'vendors/list.js/list.min.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>

    <!--  Highlighting the text of the selected field  -->
    <script>
      var formFields = document.querySelectorAll('input[type="number"]');
    
      formFields.forEach(function(field) {
        field.addEventListener('click', function() {
          this.select();
        });
      });
    </script>

  </body>

</html>
