{% extends 'base.html' %}

{% block title %}
  Создание папки
{% endblock %}

{% block content %}
  <div class="container" data-layout="container">
    <script>
      var isFluid = JSON.parse(localStorage.getItem('isFluid'));
      if (isFluid) {
        var container = document.querySelector('[data-layout]');
        container.classList.remove('container');
        container.classList.add('container-fluid');
      }
    </script>
    <div class="content">
      {% include 'includes/topbar.html' %}
      <script>
        var navbarPosition = localStorage.getItem('navbarPosition');
        var navbarVertical = document.querySelector('.navbar-vertical');
        var navbarTopVertical = document.querySelector('.content .navbar-top');
        var navbarTop = document.querySelector('[data-layout] .navbar-top:not([data-double-top-nav');
        var navbarDoubleTop = document.querySelector('[data-double-top-nav]');
        var navbarTopCombo = document.querySelector('.content [data-navbar-top="combo"]');

        if (localStorage.getItem('navbarPosition') === 'double-top') {
          document.documentElement.classList.toggle('double-top-nav-layout');
        }

        if (navbarPosition === 'top') {
          navbarTop.removeAttribute('style');
          navbarTopVertical.remove(navbarTopVertical);
          navbarVertical.remove(navbarVertical);
          navbarTopCombo.remove(navbarTopCombo);
          navbarDoubleTop.remove(navbarDoubleTop);
        } else if (navbarPosition === 'combo') {
          navbarVertical.removeAttribute('style');
          navbarTopCombo.removeAttribute('style');
          navbarTop.remove(navbarTop);
          navbarTopVertical.remove(navbarTopVertical);
          navbarDoubleTop.remove(navbarDoubleTop);
        } else if (navbarPosition === 'double-top') {
          navbarDoubleTop.removeAttribute('style');
          navbarTopVertical.remove(navbarTopVertical);
          navbarVertical.remove(navbarVertical);
          navbarTop.remove(navbarTop);
          navbarTopCombo.remove(navbarTopCombo);
        } else {
          navbarVertical.removeAttribute('style');
          navbarTopVertical.removeAttribute('style');
          navbarTop.remove(navbarTop);
          navbarDoubleTop.remove(navbarDoubleTop);
          navbarTopCombo.remove(navbarTopCombo);
        }
      </script>
      {% load user_filters %}
      <form method="post"
        {% if action_url %}
          action="{% url action_url %}"
        {% endif %}
        class="user"
      >
      {% csrf_token %}
        <div class="row g-0">
          <div class="col-lg-8 pe-lg-2">
            <div class="card mb-3">
              <div class="card-body">
                <div class="row flex-between-center">
                  <div class="col-md">
                    <h5 class="mb-2 mb-md-0">
                      {% if view_name == 'update' %}
                        Обновление папки
                      {% else %}
                        Создание папки
                      {% endif %}
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row g-0">
          <div class="col-lg-8 pe-lg-2">
            <div class="card mb-3">
              <div class="card-header">
                <h5 class="mb-0">Заполните поля формы</h5>
              </div>
              <div class="card-body bg-light">
                {% for field in form %}
                  <div class="row gx-2">
                    <div class="col-12 mb-3">
                      <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                      {{ field|addclass:'form-control form-control-user'}}
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

        <div class="row g-0">
          <div class="col-lg-8 pe-lg-2">
            <div class="card">
              <div class="card-body">
                <div class="row justify-content-between align-items-center">
                  <div class="col-md">
                    <h5 class="mb-2 mb-md-0">Отлично, осталось только сохранить</h5>
                  </div>
                  <div class="col-auto"><button class="btn btn-primary btn-sm me-2">Сохранить</button></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
