<div class="col-lg-4 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="h5 font-weight-bold text-primary mb-1">
                        <a href="{% url 'calc:update_element' element.pk%}">
                            {{ element.title }}
                        </a>
                    </div>
                </div>
                <div class="col-auto">
                    <a href="{% url 'calc:result' element.pk%}"
                       class="btn btn-primary btn-lg btn-circle"
                       title="Посмотреть результат"
                    >
                        <i class="fas fa-clipboard-list fa-1x text-gray-100"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
