<div class="col-lg-4 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="h5 font-weight-bold text-primary mb-1">
                        <a href="{% url 'calc:update_element' element.pk%}">
                            {{ element.title }}
                        </a>
                    </div>
                </div>


                <div class="col-auto ml-4">
                    <a href="{% url 'calc:copy_element' element.pk %}"
                       class="btn btn-warning btn-circle"
                       title="Дублировать элемент"
                    >
                        <i class="fas fa-copy fa-1x text-gray-100"></i>
                    </a>
                </div>



                <div class="col-auto ml-4">
                    <a href="{% url 'calc:result' element.pk%}"
                       class="btn btn-primary btn-circle"
                       title="Посмотреть результат"
                    >
                        <i class="fas fa-clipboard-list fa-1x text-gray-100"></i>
                    </a>
                </div>

                <button type="button" class="btn btn-danger btn-circle ml-4" data-toggle="modal" data-target="#exampleModal{{ element.pk }}" title="Удалить элемент">
                    <i class="fas fa-trash"></i>
                </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal{{ element.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{ element.pk }}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel{{ element.pk }}">Вы уверены, что хотите удалить элемент?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">Элемент будет удален без возможности восстановления.</div>
                            <div class="modal-footer">
                                <a href="{% url 'calc:delete_element' element.pk%}" type="button" class="btn btn-primary">Да, удалить</a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
