{% load static %}
<nav class="navbar navbar-light navbar-glass navbar-top navbar-expand">

<button class="btn navbar-toggler-humburger-icon navbar-toggler me-1 me-sm-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalCollapse" aria-controls="navbarVerticalCollapse" aria-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
<a class="navbar-brand me-1 me-sm-3" href="/">
  <div class="d-flex align-items-center"><img class="me-2" src="{% static 'assets/img/icons/spot-illustrations/arm-calc.png' %}" alt="" width="40"><span class="font-sans-serif">Arm-Calc</span></div>
</a>


<ul class="navbar-nav align-items-center d-none d-lg-block">
  <li class="nav-item">
  </li>
</ul>
<ul class="navbar-nav navbar-nav-icons ms-auto flex-row align-items-center">
  <li class="nav-item">
    {% include 'includes/switch_theme.html' %}
  </li>
  {% include 'includes/profile_dropdown.html' %}
</ul>
</nav>
