{% extends 'base.html' %}

{% block title %}
  Папка {{ folder.title }}
{% endblock %}

{% block content %}

  <!-- Sidebar -->
  {% include 'includes/sidebar.html' %}
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
          <!-- Topbar -->
          {% include 'includes/topbar.html' %}
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">


            <div class="col-lg-5 mb-4">

              <h5>папка</h5>

              <h1>{{ folder.title }}</h1>

            </div>

            {% for folder in folders %}
              {% include 'account/includes/folder_card.html' %}
            {% endfor %}

            {% for element in elements %}
              {% include 'account/includes/element_card.html' %}
            {% endfor %}


            <div class="col-lg-5 mb-4">

              <a href="
                {% if folder.folder %}
                  {% url 'account:list_elements' folder.folder.pk %}
                {% else %}
                  {% url 'account:profile' request.user.username %}
                {% endif %}
              "
                 class="btn btn-danger btn-lg"
              >
                <i class="fas fa-arrow-left fa-lg text-white-50"></i>
                Назад
              </a>

              <a href="{% url 'account:create_folder' %}"
                 class="btn btn-secondary btn-lg"
              >
                <i class="fas fa-folder fa-lg text-white-50"></i>
                Создать папку
              </a>


              <a href="{% url 'calc:create_element' %}"
                 class="btn btn-success btn-lg"
              >
                <i class="fas fa-file fa-lg text-white-50"></i>
                Создать элемент
              </a>

            </div>

          </div>
          <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      {% include 'includes/footer.html' %}
      <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

{% endblock %}