<div class="col-xl-12 col-md-12 mb-12" xmlns="http://www.w3.org/1999/html">

        <div class="card  h-100 py-2 bg-gradient-primary">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h6 font-weight-bold text-gray-100 mb-1">
                            Название
                        </div>
                    </div>
                    <div class="col mr-2">
                        <div class="h6 font-weight-bold text-gray-100 mb-1">
                            Диаметр, мм
                        </div>
                    </div>
                    <div class="col mr-2">
                        <div class="h6 font-weight-bold text-gray-100 mb-1">
                            Класс арматуры
                        </div>
                    </div>
                    <div class="col mr-2">
                        <div class="h6 font-weight-bold text-gray-100 mb-1">
                            Длина, мм
                        </div>
                    </div>
                    <div class="col mr-2">
                        <div class="h6 font-weight-bold text-gray-100 mb-1">
                            Кол-во, шт
                        </div>
                    </div>
                    <div class="col mr-2">
                        <div class="h6 font-weight-bold text-gray-100 mb-1">
                            Масса стержня, кг
                        </div>
                    </div>
                    <div class="col mr-2">
                        <div class="h6 font-weight-bold text-gray-100 mb-1">
                            Масса позиции, кг
                        </div>
                    </div>


                </div>
            </div>
        </div>

</div>
