<div class="dropdown no-arrow">
    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" style="">
        <div class="dropdown-header">Выберите действие:</div>
        <a class="dropdown-item" href="{% url 'calc:version_update' version.pk%}">Редактировать</a>
        <a class="dropdown-item" href="{% url 'calc:version_duplicate' version.pk%}">Дублировать</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'calc:version_delete' version.pk%}" style="color: #e74a3b;">Удалить</a>
    </div>
</div>