{% extends 'base.html' %}

{% block title %}
  Элемент "{{ element.title }}"
{% endblock %}

{% block content %}
  <div class="container" data-layout="container">
    <script>
      var isFluid = JSON.parse(localStorage.getItem('isFluid'));
      if (isFluid) {
        var container = document.querySelector('[data-layout]');
        container.classList.remove('container');
        container.classList.add('container-fluid');
      }
    </script>
    <div class="content">
      {% include 'includes/topbar.html' %}
      <div class="row g-3 mb-3">
        {% include 'includes/breadcrumb.html' %}
      </div>
      <div class="row g-3 mb-3">
        <div class="col-xxl-6 col-lg-12">
          <div class="card mb-3">
            <div class="card-body d-flex flex-wrap flex-between-center">
              <div>
                <h6 class="text-primary">элемент</h6>
                <h5 class="mb-0">{{ element.title }}</h5>
              </div>
              <div>
                <a class="btn btn-primary" href="{% url 'calc:rods_calc_create' element.pk %}" role="button">Создать расчет армирования</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-3 col-md-6">

        </div>
        <div class="col-xxl-3 col-md-6">

        </div>
      </div>
      <div class="row g-3 mb-3">
        {% for rods_calc in rods_calcs %}
          <div class="col-xxl-6 col-lg-12">
            {% include 'calc/includes/rods_calc/rods_calc_card.html' %}
          </div>
        {% endfor %}

      </div>
      {% include 'includes/footer.html' %}
    </div>
  </div>
{% endblock %}