{% extends 'base.html' %}

{% block title %}
  Элемент "{{ element.title }}"
{% endblock %}

{% block content %}

  <!-- Sidebar -->
  {% include 'includes/sidebar.html' %}
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
          <!-- Topbar -->
          {% include 'includes/topbar.html' %}
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">


            <div class="col-lg-5 mb-4">

              <h5>элемент</h5>

              <h1>{{ element.title }}</h1>

            </div>


            {% for rods_calc in rods_calcs %}
              {% include 'calc/includes/rods_calc/rods_calc_card.html' %}
            {% endfor %}


            <div class="col-lg-5 mb-4">


              <a href="{% url 'calc:rods_calc_create' element.pk %}"
                 class="btn btn-success btn-lg"
              >
                <i class="fas fa-file fa-lg text-white-50"></i>
                Создать расчет армирования
              </a>

            </div>

          </div>
          <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      {% include 'includes/footer.html' %}
      <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

{% endblock %}